body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0c0f;
    color: #eeeeee;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    text-align: center;
}

#Logo_Pub {
    width: 55px;
    height: auto;
}

#Logo h1 {
    margin: 0;
    font-size: 28px;
}

header a {
    padding: 5px 10px;
    color: #963232;
    text-decoration: none;
}

header a:hover { /* El hover es para cuando se le coloca el mouse encima, se ve más bonito... */
    color: white;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #000000;
}

nav a {
    color: #963232;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

#Actual {
    color: #f03434f7;
    border-bottom: 2px solid red;;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #1a1a1a;
}

section h2 {
    margin-top: 0;
    color: #c24f4f
}

label {
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 8px;
    margin: 10px 12px 17px 5px;
    background-color: #111111;
    color: white;
}

button {
    padding: 3px 15px;
    background-color: #8b2020;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a83232;
}

#Cultivos th,
#Cultivos td {
    padding: 12px;
    border: 1px solid #444444;
    text-align: center;
}

.Boton_De_Editar {
    background-color: #555555;
}