body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0c0f;
    color: #eeeeee;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    text-align: center;
}

#Logo_Pub {
    width: 55px;
    height: auto;
}

#Logo h1 {
    margin: 0;
    font-size: 28px;
}

header a {
    padding: 5px 10px;
    color: #eeeeee;
    text-decoration: none;
}

